#projectInfo {
  display: block;
  position: relative;
}

#parent {
  text-align: center;
}
#campaign {
  display: inline-block;
  text-align: left;
}

#comment {
  display: block;
  text-align: left;
  border: 1px solid black;
}

#updates {
  display: block;
  position: relative;
}